/* Example */
/* @font-face {
    font-family: 'Corbel';
    src: url('../fonts/Corbel.eot');
    src: url('../fonts/Corbel.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Corbel.woff') format('woff'),
         url('../fonts/Corbel.ttf') format('truetype'),
         url('../fonts/Corbel.svg#Corbel') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans-Bold.woff2') format('woff2'),
        url('../fonts/DroidSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans.woff2') format('woff2'),
        url('../fonts/DroidSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller-Bold.woff2') format('woff2'),
        url('../fonts/Aller-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller-Light.woff2') format('woff2'),
        url('../fonts/Aller-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
